<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 slider">
        <ul id="cantidad" style="margin: 0; background: #f3f3f3;">
            <li class="sliderr">
                <figure class="img_slider">
                    <a href="/index">
                        <img src="assets/img/slider-6.jpg" alt="Alternate Text" />
                    </a>
                    <h1 class="texto_figura" style="color: black; font-size:18px">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis justo diam, ullamcorper sit amet nisi ac, ornare
                        bibendum nibh. Vestibulum tincidunt massa nec mauris pretium blandit. Vivamus
                        pretium
                        dapibus eros. Curabitur ut diam massa. Vestibulum tristique eget velit lacinia
                        condimentum. Proin in sem neque. Curabitur id nisi id enim molestie pulvinar
                        hendrerit
                        in nulla. Vestibulum ut libero sodales, tristique quam sollicitudin, auctor neque.
                        Praesent nec nisi cursus, porttitor nulla ac, ultricies enim.
                        <br />
                        <br />
                        <button type="button" ID="Button2" class="btn btn-primary">Ver Más</button>
                    </h1>
                </figure>
            </li>
            <li class="sliderr">
                <figure class="/img_slider">
                    <a href="#">
                        <img src="assets/img/slider-7.jpg" alt="Alternate Text" />
                    </a>
                    <h1 class="texto_figura" style="color: black; font-size:18px">Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                        elit.
                        Duis justo diam, ullamcorper sit amet nisi ac, ornare bibendum nibh. Vestibulum
                        tincidunt massa nec mauris pretium blandit. Vivamus pretium dapibus eros. Curabitur
                        ut
                        diam massa. Vestibulum tristique eget velit lacinia condimentum. Proin in sem neque.
                        Curabitur id nisi id enim molestie pulvinar hendrerit in nulla. Vestibulum ut libero
                        sodales, tristique quam sollicitudin, auctor neque. Praesent nec nisi cursus,
                        porttitor
                        nulla ac, ultricies enim.
                        <br />
                        <br />
                        <button type="button" ID="Button2" class="btn btn-primary">Ver Más</button>
                    </h1>
                </figure>
            </li>
            <li class="sliderr">
                <figure class="/img_slider">
                    <a href="#">
                        <img src="assets/img/slider-8.jpg" alt="Alternate Text" />
                    </a>
                    <h1 class="texto_figura" style="color: black; font-size:18px">Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                        elit.
                        Duis justo diam, ullamcorper sit amet nisi ac, ornare bibendum nibh. Vestibulum
                        tincidunt massa nec mauris pretium blandit. Vivamus pretium dapibus eros. Curabitur
                        ut
                        diam massa. Vestibulum tristique eget velit lacinia condimentum. Proin in sem neque.
                        Curabitur id nisi id enim molestie pulvinar hendrerit in nulla. Vestibulum ut libero
                        sodales, tristique quam sollicitudin, auctor neque. Praesent nec nisi cursus,
                        porttitor
                        nulla ac, ultricies enim.
                        <br />
                        <br />
                        <button type="button" ID="Button2" class="btn btn-primary">Ver Más</button>
                    </h1>
                </figure>
            </li>
        </ul>
        <div>
            <div class="pagination">
                <ul id="item_paginador">
                </ul>
            </div>
        </div>
        <div>
            <figcaption class="iconos_carrusel_left">
                <span class="icon-chevron-left left_slider"></span>
            </figcaption>
        </div>
        <div>
            <figcaption class="iconos_carrusel_right">
                <span class="icon-chevron-right right_slider"></span>
            </figcaption>
        </div>
    </div>
</div>
<section class="product-category section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>Product Category</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box">
                    <a href="">
                        <img src="assets/images/shop/category/category-1.jpg" alt="" />
                        <div class="content">
                            <h3>Men Dress</h3>
                            <p>View Products</p>
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="">
                        <img src="assets/images/shop/category/category-2.jpg" alt="" />
                        <div class="content">
                            <h3>Jewellery</h3>
                            <p>View Products</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box category-box-2">
                    <a href="">
                        <img src="assets/images/shop/category/category-3.jpg" alt="" />
                        <div class="content">
                            <h3>Jewellery</h3>
                            <p>View Products</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products section">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Trendy Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="Productos_listas">

            </div>
            <div class="ponermodal">
            </div>
        </div>
    </div>
</section>